---
import {Icon} from "astro-icon/components";
import {EXTERNAL_URL} from "@utils/url";
---

<section class="container">
	<div class="showcaseContainer">
		<h1 id="showcaseTitle" class="header" data-content="Andrei Nedelus">
			Andrei Nedelus
		</h1>
		<h2 class="subHeader">Senior FrontEnd Engineer</h2>
		<p class="text">
			I'm a Freelance FrontEnd Developer, experienced in creating modern
			web applications and delivering high-quality, innovative solutions.
		</p>
		<div class="iconsContainer">
			<a
				href={EXTERNAL_URL.GITHUB.URL}
				title={EXTERNAL_URL.GITHUB.TITLE}
				aria-label={EXTERNAL_URL.GITHUB.ARIA_LABEL}
				class="icon"
				target="_blank"
			>
				<Icon name="ri:github-fill" width={30} height={30} />
			</a>
			<a
				href={EXTERNAL_URL.LINKEDIN.URL}
				title={EXTERNAL_URL.LINKEDIN.TITLE}
				aria-label={EXTERNAL_URL.GITHUB.ARIA_LABEL}
				class="icon"
				target="_blank"
			>
				<Icon name="ri:linkedin-box-fill" width={30} height={30} />
			</a>
			<a
				href={EXTERNAL_URL.INSTAGRAM.URL}
				title={EXTERNAL_URL.INSTAGRAM.TITLE}
				aria-label={EXTERNAL_URL.INSTAGRAM.ARIA_LABEL}
				class="icon"
				target="_blank"
			>
				<Icon name="ri:instagram-line" width={30} height={30} />
			</a>
		</div>
	</div>
</section>

<style>
	#showcaseTitle {
		transition: all 0.2s;
	}

	.container {
		height: 35rem;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			z-index: var(--zIndex_behind_2);

			--grid-size: 60px;
			--grid-strength: 1px;
			--grid-dash: 10px;
			--grid-gap: 5px;
			--grid-color: rgba(255, 255, 255, 0.03);
			--paper-color: transparent;

			background-color: var(--paper-color);
			background-size:
				var(--grid-dash) var(--grid-dash),
				var(--grid-size) var(--grid-size);
			background-image: linear-gradient(
					to bottom,
					transparent var(--grid-gap),
					var(--paper-color) var(--grid-gap)
				),
				linear-gradient(
					to right,
					var(--grid-color) var(--grid-strength),
					transparent var(--grid-strength)
				),
				linear-gradient(
					to right,
					transparent var(--grid-gap),
					var(--paper-color) var(--grid-gap)
				),
				linear-gradient(
					to bottom,
					var(--grid-color) var(--grid-strength),
					transparent var(--grid-strength)
				);
		}

		&::after {
			content: "";
			position: absolute;
			z-index: var(--zIndex_behind_1);
			inset: 0;
			bottom: 50%;
			max-width: 60rem;
			width: 60%;
			background: var(--light_blue_100);
			aspect-ratio: 1 / 1;
			margin-left: auto;
			margin-right: auto;
			border-radius: 100%;
			filter: blur(100px);
			transform: translateY(-66%);
		}
	}

	.showcaseContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		width: 100%;
		max-width: 80rem;
		margin: 0 auto;
	}

	.header {
		font-size: 4rem;
		font-weight: 500;
		line-height: 3.5rem;
		margin: 1rem;
	}

	.subHeader {
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.5rem;
		margin: 1rem;
	}

	.text {
		max-width: 40rem;
		padding: 0 1rem;
		text-align: center;
		line-height: 1.5rem;
	}

	.iconsContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		margin-top: 1rem;
	}

	.iconsContainer .icon,
	.logo {
		color: currentColor;
		text-decoration: none;
	}

	.iconsContainer .icon:hover {
		color: var(--light_blue_100);
		transition: 0.2s;
	}

	@media only screen and (max-width: 550px) {
		.header {
			font-size: 12vw;
		}
		.subHeader {
			font-size: 6vw;
		}
	}
</style>
