---
import {Image} from "astro:assets";
import "modern-normalize/modern-normalize.css";
import logo from "@assets/icons/logo.svg";
import LayoutHead from "./LayoutHead.astro";
import Header from "@components/astro/Header.astro";
import Footer from "@components/astro/Footer.astro";
import Notifications from "@ui/react/notifications/Notifications";
import {ROUTES_TO_SHOW_DYNAMIC_HEADER_TEXT} from "@utils/url";

type Props = {
	title?: string;
	description?: string;
	headerText?: string;
};

const {title, description, headerText} = Astro.props;
const isDynamicText = ROUTES_TO_SHOW_DYNAMIC_HEADER_TEXT.includes(
	Astro.url.pathname,
);
---

<!doctype html>
<html lang="en">
	<LayoutHead title={title} description={description} />
	<body>
		<div id="globalLoading">
			<Image
				src={logo}
				width="200"
				height="200"
				alt="Logo"
				loading="eager"
				decoding="sync"
			/>
		</div>
		<Header isDynamicText={isDynamicText} text={headerText} />
		<slot />
		<Notifications client:load />
		<Footer />
	</body>
</html>

<script>
	import {renderHeaderText} from "@utils/header";
	import {onContentLoaded} from "@utils/utils";

	const loader = document.getElementById("globalLoading");
	if (loader) {
		const onLoad = () => {
			loader.style.display = "none";
			renderHeaderText();
		};

		onContentLoaded(loader, "hidden", onLoad);
	}
</script>

<style>
	#notificationsContainer {
		position: relative;
		z-index: var(--zIndex_notification);
	}
</style>
