---
import {getThumbnail} from "../utils/cloudinary";
type Props = {
	title?: string;
	description?: string;
};

const {
	title = "Andrei Nedelus Senior FrontEnd Developer",
	description = "Contractor | Freelancer | Delivering Premium Front End Solutions for online business worldwide.",
} = Astro.props;
const image = getThumbnail(title, description);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<style is:global>
			@import "../styles/global.css";
		</style>
		<link
			rel="stylesheet"
			href="node_modules/modern-normalize/modern-normalize.css"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="icon"
			type="image/x-icon"
			sizes="16x16 24x24 32x32 64x64"
			href="/favicons/favicon.ico"
		/>
		<meta name="language" content="English" />
		<meta name="author" content="Andrei Nedelus" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content={description} />
		<meta name="theme-color" content="#134e4a" />
		<link rel="canonical" href={Astro.url} />
		<meta
			name="keyword"
			content="senior, react, typescript, javascript, developer, contractor, freelancer, portfolio"
		/>
		<title>{title}</title>
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={image} />
	</head>
	<body>
		<slot />
	</body>
</html>
